<%- include('../partials/header') %>
    <div class="top-level">
        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-location">Delete Location</button>
        <!-- Modal -->
        <div class="modal fade" id="delete-location" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="delete-locationLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm">
                <div class="modal-content">
                    <form id="deleteLocation" action="/locations/<%= campaign._id %>/<%= location._id %>?_method=DELETE" method="POST">
                        <div class="modal-body">
                            <h5 class="modal-title" id="delete-locationLabel">Confirm Location Deletion: <input class="checkbox" type="checkbox" id="deleteLocationConfirm" required></h5>
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger" class="deleteLocation">Delete</button>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="top-level">
        <a class="back" href="/campaigns/<%= campaign._id %>"><img src="/images/back.png" alt="Back"> Back</a>
        <h1 class="title"><%= location.locationTitle %></h1>
        <br>
        <img class="main-image" src="<%= location.locationImage %>" alt="location image" style="width: 800px;">
        <br>
        <h3><%= location.locationDescription %></h3>
        <br>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Edit Location Flavour
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Location Flavour</h5>
                </div>
                <form id="updateLocation" action="/locations/<%= campaign._id %>/<%= location._id %>/update?_method=PUT" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">New Title</label>
                            <input name="locationUpdateTitle" type="text" class="form-control" id="exampleFormControlInput1" value="<%= location.locationTitle %>">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">New Description</label>
                            <textarea name="locationUpdateDescription" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= location.locationDescription %></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlInput2" class="form-label">New Image URL (ending with .jpg, .jpeg, .png, or .gif)</label>
                            <input name="locationUpdateImage" type="text" class="form-control" id="exampleFormControlInput2" value="<%= location.locationImage %>" pattern=".*\.(jpg|jpeg|png|gif)?$">                            
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="mid-level">
        <form id="addMonster" action="/locations/<%= campaign._id %>/<%= location._id %>" method="POST">
            <select name="monsterList" id="monsterList">
                <% monstersList.forEach(monster => { %>
                    <option name="monsterSlug" value="<%= monster.slug %>@<%= monster.name %>"><%= monster.name %></option>
                <% }) %>
            </select>
            <input type="submit" value="Add Monster">
        </form>
    </div>
    <br>
    <div class="accordion" id="accordion-monsters">
        <% if (monsters.length >= 1) { monsters.forEach(monster => { %>
            <div class="accordion-item ">
                <h3 class="accordion-header" id="heading-<%= monster.slug %>">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-<%= monster.slug %>" aria-expanded="false" aria-controls="collapse-<%= monster.slug %>">
                        <%= monster.name %>
                    </button>
                    <!-- second button here -->
                    <form class="x-button" action="/locations/<%= campaign._id %>/<%= location._id %>?_method=PUT" method="POST">
                        <input name="monsterId" type="text" value="<%= monster._id %>" hidden>
                        <button type="submit" class="remove">X</button>
                    </form>
                </h3>
                <div id="collapse-<%= monster.slug %>" class="accordion-collapse collapse" aria-labelledby="heading-<%= monster.slug %>">
                    <div class="accordion-body">
                        <!-- monster description here -->
                        <a href="https://open5e.com/monsters/<%= monster.slug %>" target="_blank">Information Page</a>
                    </div>
                </div>
            </div>
        <% })} %>
    </div>
<%- include('../partials/footer') %>
