<%- include('../partials/header') %>
    <form id="deleteLocation" action="/locations/<%= campaign._id %>/<%= location._id %>?_method=DELETE" method="POST">
        <h4>Confirm Location Deletion: <input type="checkbox" id="deleteLocationConfirm" required></h4>
        <input type="submit" value="DELETE" class="deleteLocation">
    </form>
    <h1>locations!!!! here and monster list test below</h1>
    <%- include('../partials/modal') %>
    <h2><%= location.locationTitle %></h2>
    <h3><%= location.locationDescription %></h3>
    <img src="<%= location.locationImage %>" alt="location image" style="width: 400px;">
    <br>
    <form id="addMonster" action="/locations/<%= campaign._id %>/<%= location._id %>" method="POST">
        <select name="monsterList" id="monsterList">
            <% monstersList.forEach(monster => { %>
                <option name="monsterSlug" value="<%= monster.slug %>@<%= monster.name %>"><%= monster.name %></option>
            <% }) %>
        </select>
        <input type="submit" value="Add Monster">
    </form>
    <br>
    <div>
        <ul>
            <% monsters.forEach(monster => { %>
                <li>
                    <%= monster.name %>
                    <form action="/locations/<%= campaign._id %>/<%= location._id %>?_method=PUT" method="POST">
                        <input name="monsterId" type="text" value="<%= monster._id %>" hidden>
                        <button type="submit" class="remove">X</button>
                    </form>
                </li>
            <% }) %>
        </ul>
    </div>
<%- include('../partials/footer') %>
