<%- include('../partials/header') %>
    <h1><%= campaign.campaignTitle %></h1>
    <br>
    <img src="<%= campaign.campaignImage %>" alt="campaign image" style="width: 800px;">
    <br>
    <h3><%= campaign.campaignDescription %></h3>
<%- include('../partials/footer') %>
