<%- include('../partials/header') %>
    <form id="deleteCampaign" action="/campaigns/<%= campaign._id %>?_method=DELETE" method="POST">
        <h4>Confirm Campaign Deletion: <input type="checkbox" id="deleteCampaignConfirm" required></h4>
        <input type="submit" value="DELETE" class="deleteCampaign">
    </form>
    <h1><%= campaign.campaignTitle %></h1>
    <br>
    <img src="<%= campaign.campaignImage %>" alt="campaign image" style="width: 800px;">
    <br>
    <h3><%= campaign.campaignDescription %></h3>
    <br>
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Edit Campaign Flavour
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Campaign Flavour</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form id="updateCampaign" action="/campaigns/<%= campaign._id %>?_method=PUT" method="POST">
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="exampleFormControlInput1" class="form-label">New Title</label>
                            <input name="campaignUpdateTitle" type="text" class="form-control" id="exampleFormControlInput1" value="<%= campaign.campaignTitle %>">
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">New Description</label>
                            <textarea name="campaignUpdateDescription" class="form-control" id="exampleFormControlTextarea1" rows="3"><%= campaign.campaignDescription %></textarea>
                        </div>
                        <div class="mb-3">
                            <label for="exampleFormControlTextarea1" class="form-label">New Image URL (ending with .jpg, .jpeg, .png, or .gif)</label>
                            <input name="campaignUpdateImage" type="text" class="form-control" id="exampleFormControlInput1" value="<%= campaign.campaignImage %>" pattern=".*\.(jpg|jpeg|png|gif)?$">                            
                        </div>
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <form id="createLocation" action="/campaigns/<%= campaign._id %>/locations" method="POST">
        <h3>Make new location</h3>
        <h4>Title: </h4>
        <input name="locationTitle" id="locationTitle" type="text" placeholder="Title" required>
        <h4>Description: </h4>
        <textarea name="locationDescription" id="locationDescription" placeholder="Description" required cols="30" rows="10"></textarea>
        <br>
        <input name="locationImage" id="locationImage" type="text" placeholder="example: https://filehostingsite.com/imagefile.png" size="40">
        <% if (error) { %>
            <p class="error"><%= error %></p>
        <% } %>
        <br>
        <input type="submit" value="Create new location">
    </form>
    <div id="locationList">
        <ul>
            <% if (campaign.locations.length) { campaign.locations.forEach(location => { %>
                <li>
                    <a href="/locations/<%= campaign._id %>/<%= location._id %>"><%= location.locationTitle %></a>
                    <br>
                    <img src="<%= location.locationImage %>" alt="location image" style="width: 300px">
                </li>
            <% })} %>
        </ul>
    </div>
<%- include('../partials/footer') %>
